body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f3f8f5; /* um tom claro, suave */
    color: #2f4f4f;
  }
  
  
  header {
    background-color: rgba(167, 215, 197, 0.95);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #5b8f85;
  }
  
  main {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.85);
    max-width: 900px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .question {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .answer {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    width: 70%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .answer:hover {
    background-color: #dcdcdc;
    transform: scale(1.05);
  }
  
  .correct {
    background-color: #4CAF50;
  }
  
  .incorrect {
    background-color: #f44336;
  }
  
  #score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  
  footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(167, 215, 197, 0.95);
    color: #fff;
    margin-top: 40px;
  }
  
  #result {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  